@charset "UTF-8";

.aimage img {
	max-width: 350px;
	max-height: 350px;
	box-shadow: navy 0px 0px 5px;
}

.aimage {
	border: silver solid 3px;
	border-radius: 10px;
	box-shadow: teal 0px 0px 5px;
	font-size: 20pt;
	float: left;
	margin: 10px;
	margin-left: 30px;
	margin-right: 30px;
}



